.select span.main {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}
.items {
    border: 1px solid black;
    position: absolute;
    padding: 5px;
}
.item.selected {
    background-color: aqua;
    color: white;
}